@charset "UTF-8";
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-theme {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 26px;
  font-weight: 600;
  border-radius: 30px;
}
.btn-theme i {
  margin-left: 8px;
  padding-bottom: 15px;
  font-size: 9px;
  font-weight: bolder;
}
.btn-theme:hover {
  background-color: #191919;
  color: whitesmoke;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cb social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contact-bar {
  grid-area: cb;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .contact-bar {
    display: flex;
  }
}
header .container .contact-bar .contact-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contact-bar .contact-box i {
  margin-right: 5px;
}
header .container .contact-bar .contact-box.last {
  border: none;
}
header .container .social-media {
  grid-area: social;
  display: none;
}
header .container .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
  text-decoration: none;
}
header .container .social-media a:hover {
  color: #666;
}
@media (min-width: 992px) {
  header .container .social-media {
    display: block;
  }
}
header .container .mainmenu {
  grid-area: menu;
  display: none;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header .container .mainmenu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .mainmenu nav a.home-bold {
  font-weight: 500;
}
header .container .mainmenu nav a.home-bold::after, header .container .mainmenu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 35%; /* det kan vara 50% med transform:translate annars med 35% funkar på samma sätt*/
  bottom: -3px;
  /* transform: translate((calc(50% - 15px)));*/
}
header .container .mainmenu .login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.subheader {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #F0EFE9;
  padding: 16px;
}
@media (min-width: 990px) {
  .subheader {
    padding-top: 100px;
    padding-bottom: 90px;
  }
}
.subheader a {
  text-decoration: none;
  color: #191919;
  padding-bottom: 10px;
  margin: 5px;
}
.subheader h2 {
  font-size: 56px;
  font-weight: 700;
}

.line {
  display: none;
  top: 90px;
  left: 0;
}
@media (min-width: 1200px) {
  .line {
    display: flex;
    position: absolute;
  }
}

main {
  display: block;
}
main .classroom {
  display: block;
  text-align: center;
}
@media (min-width: 1200px) {
  main .classroom {
    display: block;
    text-align: left;
  }
}
main .classroom h2 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM sans", sans-serif;
  padding-top: 50px;
}
@media (min-width: 1200px) {
  main .classroom h2 {
    padding-top: 130px;
  }
}
main .classroom .date {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .classroom .date {
    display: flex;
    justify-content: left;
    padding-bottom: 40px;
  }
}
main .classroom .date p {
  padding-right: 10px;
  font-size: 10px;
  font-weight: 400;
  font-family: "DM sans", sans-serif;
}
@media (min-width: 920px) {
  main .classroom .date p {
    font-size: 20px;
  }
}
main .classroom .date p img {
  padding-right: 10px;
}
main .container {
  display: block;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0px;
}
@media (min-width: 1200px) {
  main .container {
    display: flex;
    justify-content: center;
  }
}
main .container .employee {
  display: block;
  justify-content: center;
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  main .container .employee {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin: 0px;
  }
}
main .container .employee .work {
  display: block;
  justify-content: center;
  text-align: center;
}
@media (min-width: 992px) {
  main .container .employee .work {
    display: block;
    justify-content: start;
    padding-right: 140px;
  }
}
main .container .employee .work img {
  width: 100%;
  height: auto;
}
main .container .employee .work p {
  display: flex;
  padding-top: 50px;
  line-height: 2;
}
main .container .employee .articles {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
main .container .employee .articles .search {
  background-color: #f3f3f3;
  display: inline-block;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 40px;
  width: 100%;
  padding: 12px;
}
@media (min-width: 992px) {
  main .container .employee .articles .search {
    display: flex;
    padding: 8px 18px;
  }
}
main .container .employee .articles .search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #868686;
}
main .container .employee .articles .article-box {
  display: block;
  justify-content: left;
  width: 100%;
  height: auto;
  border: 1px solid #191919;
  padding: 45px 40px;
  margin-bottom: 40px;
  line-height: normal;
}
@media (min-width: 992px) {
  main .container .employee .articles .article-box {
    text-align: left;
  }
}
main .container .employee .articles .article-box h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM sans", sans-serif;
}
main .container .employee .articles .article-box h3 {
  font-size: 16px;
  font-weight: 700;
  font-family: "DM sans", sans-serif;
}
main .container .employee .articles .article-box p {
  font-size: 14px;
}
main .container .employee .article-box2 {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  border: 1px solid #191919;
  padding: 45px 40px;
  line-height: normal;
}
@media (min-width: 990px) {
  main .container .employee .article-box2 {
    display: block;
    justify-content: start;
    align-items: center;
    text-align: left;
  }
}
main .container .employee .article-box2 h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM sans", sans-serif;
  text-align: center;
}
main .container .employee .article-box2 p {
  font-size: 14px;
}
main .container .employee .article-box2 p b {
  font-size: 16px;
  font-family: "DM sans" sans-serif;
  font-weight: 700;
}
main .coma {
  display: block;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 30px;
}
@media (min-width: 992px) {
  main .coma {
    width: 65%;
    text-align: left;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
main .coma h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 10px;
  font-size: 22px;
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  main .coma h2 {
    padding-left: 50px;
  }
}
main .coma p {
  font-size: 16px;
}
main .coma .buttons {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
@media (min-width: 992px) {
  main .coma .buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
}
main .coma .buttons .btn-theme {
  padding: 16px 35px;
  border-radius: 30px;
  background-color: #f3f3f3;
  border: none;
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

article {
  background-color: #F0EFE9;
  padding: 16px;
}
article .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
article .container .news-article {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  article .container .news-article {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
article .container .news-article .title {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  article .container .news-article .title {
    display: block;
  }
}
article .container .news-article a {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #5c5c5c;
  border: #191919;
  border: 1px solid;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  margin-top: 20px;
}
@media (min-width: 992px) {
  article .container .news-article a {
    padding: 16px 55px;
  }
}
article .container .new-image {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 30px;
}
@media (min-width: 992px) {
  article .container .new-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
article .container .new-image .items {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
article .container .new-image .items img {
  width: 100%;
  height: auto;
}
article .container .new-image .items .item {
  line-height: 1.8;
}
article .container .new-image .items .item h2 {
  font-size: 22px;
  font-family: "DM sans", sans-serif;
  font-weight: 700;
}
article .container .dot {
  display: none;
}
@media (min-width: 992px) {
  article .container .dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.footer {
  background-color: #191919;
  position: relative;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 50px;
}
@media (min-width: 992px) {
  .footer .container {
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding-top: 100px;
    padding-bottom: 90px;
  }
}
.footer .container .link-1 p {
  margin-top: 25px;
  color: #b6b6bc;
}
.footer .container .link-2 h4 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.footer .container .link-2 p {
  color: #b6b6bc;
  text-align: left;
}
.footer .container .link-2 ul {
  list-style: none;
  padding: 0px;
}
.footer .container .link-2 ul a {
  color: #b6b6bc;
  text-decoration: none;
}
.footer .container .link-3 h4 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.footer .container .link-3 p {
  color: #b6b6bc;
  text-align: left;
}
.footer .container .link-3 ul {
  list-style: none;
  padding: 0px;
}
.footer .container .link-3 ul a {
  color: #b6b6bc;
  text-decoration: none;
}
.footer .container .link-4 h4 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.footer .container .link-4 p {
  color: #b6b6bc;
  text-align: left;
}
.footer .container .link-4 ul {
  list-style: none;
  padding: 0px;
}
.footer .container .link-4 ul a {
  color: #b6b6bc;
  text-decoration: none;
}
.footer .container .link-5 h4 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.footer .container .link-5 p {
  color: #b6b6bc;
  text-align: left;
}
.footer .container .link-5 ul {
  list-style: none;
  padding: 0px;
}
.footer .container .link-5 ul a {
  color: #b6b6bc;
  text-decoration: none;
}
.footer .container .line-footer {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 5px;
}
@media (min-width: 992px) {
  .footer .container .line-footer {
    display: flex;
  }
}
.footer hr {
  color: #707070;
}
.footer .subfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
}
@media (min-width: 992px) {
  .footer .subfoot {
    padding: 0px;
  }
}
.footer .subfoot .foot-socialmedia {
  display: none;
}
@media (min-width: 992px) {
  .footer .subfoot .foot-socialmedia {
    display: flex;
    justify-content: start;
  }
}
.footer .subfoot a {
  color: white;
  padding: 10px;
  text-decoration: none;
}